.vscode
*~
build
__pycache__
*.egg-info
core.*
setup.cfg

docs/doc/Examples
docs/doc/*.pdf
docs/doc/documents
docs/Download
Fast/FastC/installPath.py
Fast/FastS/merge.l
Fast/FastC/doc/source/FastS.rst
Fast/FastC/doc/source/Fast.rst
tools/MigrationSVN

Data*
ValidData*
*.cgns
*.dat
