.vscode
build
__pycache__
*.egg-info
core.*
setup.cfg

docs/doc/Examples
docs/doc/*.pdf
docs/doc/documents
docs/Download
Fast/FastC/installPath.py
Fast/FastS/merge.l
tools/MigrationSVN

Data*
ValidData*
*.cgns
*.dat
