.vscode
*~
build
__pycache__
*.pyc
*.egg-info
core.*
setup.cfg
merge.l

docs/doc/Examples
docs/doc/*.pdf
docs/doc/documents
docs/Download
Fast/FastC/installPath.py
Fast/FastC/doc/source/FastS.rst
Fast/FastC/doc/source/Fast.rst
tools/MigrationSVN

Data*
ValidData*
*.cgns
*.dat
*.swo
*.swp
